<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/add"> Add a asbeza</a><br />
<table>
    <tr>
        <th>Title</th>
        <th>Instructor</th>
        <th>Credits</th>
        <td>Actions</td>
    </tr>
    <tr th:each="asbeza: ${asbezas}">
        <td th:text="${asbeza.title}"></td>
        <td th:text="${asbeza.instructor}"></td>
        <td th:text="${asbeza.credit}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${asbeza.id})}">Update</a>-
            <a th:href="@{/detail/{id}(id=${asbeza.id})}">Detail</a>-
            <a th:href="@{/delete/{id}(id=${asbeza.id})}">Delete</a>-
        </td></tr>
</table>
</body>
</html>